<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
</head>

<body class = "allvidbody">
  <h1 class="allvideosclass">All Videos</h1>
  
  <form  method = "POST" action = "/BeginnersMakeupTutorials">
 <button class="videos" input type= "submit">Beginners Makeup Tutorials</button>
  </form>
  
  <form method = "POST" action = "/AdvancedMakeupTutorials">
  <button class="videos" input type= "submit">Advanced Makeup Tutorials </button>
  </form>
  
  <form method = "POST" action = "/CollegeApplicationTips">
  <button class="videos" input type= "submit">College Application Tips</button>
  </form>
  
  <form  method = "POST" action = "/Photoshop">
  <button class="videos" input type= "submit">Photoshop </button>
  </form>
  
  <form  method = "POST" action = "/CodeforBeginners">
  <button class="videos" input type= "submit">Code for Beginners </button>
  </form>
  
  <form method = "POST" action = "/LearnLanguages">
  <button class="videos" input type= "submit">Learn Languages</button>
  </form>
  
  <form method = "POST" action = "/Art">
  <button class="videos" input type= "submit">Art </button>
  </form>
  
  <form method = "POST" action = "/Sports">
  <button class="videos" input type= "submit">Sports </button>
  </form>
  
  <form method = "POST" action = "/SingDance">
  <button class="videos" input type= "submit">Sing/Dance</button>
  </form>
  
  <form method = "POST" action = "/Healthiness">
  <button class="videos" input type= "submit">Healthiness</button>
  </form>
  
  <form method = "POST" action = "/Happiness">
  <button class="videos" input type= "submit">Happiness</button>
  </form>
  
  <form method = "POST" action = "/Relationships">
  <button class="videos" input type= "submit">Relationships</button>
  </form>
  
  <form method = "POST" action = "/RandomDIY">
  <button class="videos" input type= "submit">Random DIY </button>
  </form>
  
</body