<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
</head>

<body>
  <h1 class="allvideosclass">All Videos</h1>
  
  <form class="videosclass" method = "POST" action = "/BeginnersMakeupTutorials">
 <button input type= "submit">Beginners Makeup Tutorials</button>
  </form>
  
  <form class="videosclass" method = "POST" action = "/AdvancedMakeupTutorials">
  <button input type= "submit">Advanced Makeup Tutorials </button>
  </form>
  
  <form class="videosclass" method = "POST" action = "/CollegeApplicationTips">
  <button input type= "submit">College Application Tips</button>
  </form>
  
  <form class="videosclass" method = "POST" action = "/Photoshop">
  <button input type= "submit">Photoshop </button>
  </form>
  
  <form class="videosclass" method = "POST" action = "/CodeforBeginners">
  <button input type= "submit">Code for Beginners </button>
  </form>
  
  <form class="videosclass" method = "POST" action = "/LearnLanguages">
  <button input type= "submit">Learn Languages</button>
  </form>
  
  <form class="videosclass" method = "POST" action = "/Art">
  <button input type= "submit">Art </button>
  </form>
  
  <form class="videosclass" method = "POST" action = "/Sports">
  <button input type= "submit">Sports </button>
  </form>
  
  <form class="videosclass" method = "POST" action = "/SingDance">
  <button input type= "submit">Sing/Dance</button>
  </form>
  
  <form class="videosclass" method = "POST" action = "/Healthiness">
  <button input type= "submit">Healthiness</button>
  </form>
  
  <form class="videosclass" method = "POST" action = "/Happiness">
  <button input type= "submit">Happiness</button>
  </form>
  
  <form class="videosclass" method = "POST" action = "/Relationships">
  <button input type= "submit">Relationships</button>
  </form>
  
  <form class="videosclass" method = "POST" action = "/RandomDIY">
  <button input type= "submit">Random DIY </button>
  </form>
  
</body>