<head><link rel="stylesheet" type="text/css" href="stylesheets/style.css"><link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet"></head>
<body>
  <div class = "container">
  <h1>Beginner's Makeup Tutorials</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLZvGMo9UEbCSIhXLmUOhu0dHzX9SpFi_c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br>
<a href = "https://www.youtube.com/embed/videoseries?list=PLZvGMo9UEbCSIhXLmUOhu0dHzX9SpFi_c"><button class = "advancedbuttonclass">More Videos</button></a> 
</div>
</body>