<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
  <h1>Photoshop</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLZvGMo9UEbCQNR1bdjLRM94P8t0uscp_6" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</body>