<html class = "quizbackground">
<head> 
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">

</head>
<body class = "quizbodyclass">

<h1 class="takequiz" >Take this quiz to discover new interests </h1>

<form method = "POST" action = "/recommendations"
class="quizclass">
  
  What is your name?<br>
  <input class = "quizinput" type="text" name="name" class="nameclass"><br>
  

  <h2 class="interestclass" >What are you most interested in? Check all that apply:</h2>
  
  <input class="checkboxclass" type="checkbox" name="category[]" value="Makeup"> Makeup<br>
  <input class="checkboxclass" type="checkbox" name="category[]" value="Technology"> Technology<br>
  <input class="checkboxclass" type="checkbox" name="category[]" value="Sports"> Sports<br>
  <input class="checkboxclass" type="checkbox" name="category[]" value="DIY"> DIY Projects<br>
  <input class="checkboxclass" type="checkbox" name="category[]" value="Education"> Education<br>
  <input class="checkboxclass" type="checkbox" name="category[]" value="Health">Mind + Body Health<br>
  <input class="checkboxclass" type="checkbox" name="category[]" value="Performing Arts"> Performing Arts<br>
  <input class="checkboxclass" type="checkbox" name="category[]" value="Relationships">Relationships<br>
  
  
<button class = "quizsubmit" input type= "submit">Submit</button>
  </form>
</body>
</html>                 
