<html class="wholescreenclass" >
<head> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>
<body class = "quizbodyclass">

<h1 class="takequizclass" > Take this quiz to discover new interests </h1>

<form method = "POST" action = "/recommendations"
class="middleclass" >
  
  What is your name?<br>
  <input type="text" name="name" class="nameclass"><br>
  

  <h2 class="interestclass" >What are you most interested in? Check all that apply:</h2>
  
  <input class="checkboxclass" type="checkbox" name="category[]" value="makeup"> Makeup<br>
  <input class="checkboxclass" type="checkbox" name="category[]" value="technology"> Technology<br>
  <input class="checkboxclass" type="checkbox" name="category[]" value="sports"> Sports<br>
  <input class="checkboxclass" type="checkbox" name="category[]" value="diy"> DIY Projects<br>
  <input class="checkboxclass" type="checkbox" name="category[]" value="education"> Education<br>
  <input class="checkboxclass" type="checkbox" name="category[]" value="health">Mind + Body Health<br>
  <input class="checkboxclass" type="checkbox" name="category[]" value="performing arts"> Performing Arts<br>
  <input class="checkboxclass" type="checkbox" name="category[]" value="relationships">Relationships<br>
  
  
<button input type= "submit" class="submitbuttonclass" >Submit</button>
  </form>
</body>
</html>
