<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
</head>


 <h1><%=@name.upcase%>'S VIDEO RECOMMENDATIONS</h1>
 
<body class = "RecommendationsClass">
  
    <% @category.each do |recommend| %>
      <%= "#{recommend}" %>
      <div></div>
      
      <% if recommend == "Makeup" %><br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1ZbjvzOUzvA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <% end %>
      <div></div>
      
      <% if recommend == "Technology" %><br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/sBARzKRGLoM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <% end %>
        <div></div>

      <% if recommend == "Sports" %><br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GaJ4BKcDGiM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <% end %>
        <div> </div>
        
      <% if recommend == "DIY" %><br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ISShqZ3rsVM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <% end %>
      <div> </div>
      
      <% if recommend == "Education" %><br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/CNbklPRdT4Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <% end %>
       <div> </div>
       
      <% if recommend == "Health" %><br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/HZrU9iB6a0o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <% end %>
       <div> </div>
       
      <% if recommend == "Performing Arts" %><br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ujREEgxEP7g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <% end %>
       <div><br></div>
       
      <% if recommend == "Relationships" %><br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/vpsrdsYqarw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <% end %>
       <div> </div>
     
    <% end %>
<div>
</div>


<a href = "/allvideos"><br>
  <button class = "recommendbutton" input type= "submit">Click for All Videos</button>
</a>
</body>