<!--<h1> -->
<!--This is a test... does my results page work???-->
<!--</h1>-->

<body>
  <h1>
    
    <% fortunes = ["You'll be a cat lady", "You'll play D1 ball", "You will win the lottery", "You will get promoted", "You will find your S/O this month"] %>
   <%= "Hello #{@name}! It is a good day to be a #{@sign}. Your fortune is: #{fortunes.sample}" %> 
   
    
    
  </h1>
  
  
  
</body>