<body>
  <h1>Singing and Dancing Tutorials</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLZvGMo9UEbCR41yge9XMw5VQZvXObXCtu" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</body>