<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
</head>
<h1 class='WelcomeClass'> LEARNT</h1>

<body class = "welcomebody">

<body>

<div style="text-align:center">
  

</div>

</body>
</html> 
  
<a href = "/quiz">
  <button class= "welcomebutton" input type= "submit">Get Started</button>
  </a>
</body>