<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>

<body class = "welcomebody">
  <h1 class='WelcomeClass'>
    
  Welcome to LearnT! </h1>
  
<a href = "/quiz">
  <button class= "welcomebutton" input type= "submit">Get Started </button>
  </a>
</body>
