li {
    display: inline;
}

.buttonstyle{
  color:green;
  font-size:100%;
  background-color:yellow;
}

.buttonstyles{
  color:purple;
  font-size:100%;
  background-color:pink;
}

.buttonstyles2{
  color:orange;
  font-size:100%;
  background-color:blue;
}



.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}



/*quiz page*/

.wholescreenclass {
  background-color: #EAF2F8;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  
}

.quizbodyclass {
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
  background-color: white;
  background-blend-mode: overlay;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-top: 25px;
}

.takequizclass {
  text-align: center;
  color: black;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 60px;
  background-color: none;
  width: 600px;
  height: 50px;
  margin-left: 320px;
  padding-top: 40px;
 
}

.middleclass {
  margin-top: 100px;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 110%;
}

.interestclass {
  font-family: 'Didact Gothic', sans-serif;
}

.nameclass {
  border: none;
  background-color: #EAF2F8;
  opacity: .8;
  font-family: 'Didact Gothic', sans-serif;
  margin-top: 5px;
  height: 17px;
  
}

.submitbuttonclass {
  border: none;
  margin-top: 70px;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 100%;
  padding-top: 5px;
  background-color: #EAF2F8;
  width: 80px;
  height: 35px;
  color: black;
}

.submitbuttonclass:hover {
  background-color: #eaf2f8;
  border: none;
  color: white;
}

/*all videos*/

.allvideosclass {
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
}

.videosclass {
  text-align: center;
  height: 25px;
  width: 1200px;
  margin-left: 30px;
}




